<mat-expansion-panel hideToggle *ngFor="let item of this.returnedInvoice">
  <mat-expansion-panel-header>
    <mat-panel-title>
       {{item.InvoiceDate|date}}
    </mat-panel-title>
    <mat-panel-description>
      {{item.InvoiceReferenceID}}
    </mat-panel-description>
    <mat-panel-description>
      {{item.InvoiceReferenceID}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngFor="let item2 of item.ReturnSupplymentInvoiceDetails">
   {{item2.Quantity}}
  </p>
</mat-expansion-panel>
