.mat-spinner-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.search-field{
    display: inline-block;
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}