
    <mat-form-field>
        <mat-label>Measurement</mat-label>
    <mat-select (valueChange)="selectedValue($event)">
        <mat-option  *ngFor="let item of  mesurments" [value]="item.id" > {{item.name}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Value </mat-label>
    <input matInput placeholder="Value" 
    (input)="onTextChange()" 
    (AfterValueChange)="onTextChange()"
     appAcceptIntOnly 
     (keypress)="onTextChange()"
      (change)="onTextChange()" 
      (keydown)="onTextChange()" 
      [(ngModel)]="valueOfElement" >
</mat-form-field>

    
