.full-width{
   width: 100%;
}

.client-container{
   
   position: fixed;
   width: 100%;
   height: 95vh;
   display: block;
   z-index: 999999999999999;
   background-color: #fff;
   top:0;
   left:0;
}
.flex-container{
   display: flex;
   justify-content: space-between;
}
