/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
.padding-10{
  padding:15px;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  outline: none;
}
a:hover{
  text-decoration: none;
}
a:lang(ar) {

  font-family: 'Cairo', sans-serif;
}
.mat-button-wrapper:lang(ar) {

  font-family: 'Cairo', sans-serif;
  font-weight: 600;

}
.mat-form-field-infix:lang(ar){
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}
:lang(ar) h1,h2,h3,h4,h5,h6 ,p,mat-panel-title{
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}

mat-sidenav-content{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23a28cbb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%236c5b90' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23aa93c7' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236e5e9c' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%239d87c0' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2365589b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237e67a9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23665f9b' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23705ba2' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23605e99' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237562b0' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23474b88' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 min-height: 100vh;
}