<mat-card>

    <ng-container *ngIf="data != null then storeData else progress">

    </ng-container>
  
</mat-card>

<ng-template #storeData>
    <h2>Store</h2>
    <form (ngSubmit)="SubmitData()" [formGroup]="form">
    <mat-form-field class="full-width">
      
        <mat-label>Store Name</mat-label>
        <input matInput  formControlName="name">
        <mat-error *ngIf="StoreName.invalid && StoreName.touched">
            <mat-error *ngIf="StoreName.errors.Unique">The Store name Should be uniqe</mat-error>
            <mat-error *ngIf="StoreName.errors.required">The Store name is Required</mat-error>
        </mat-error>
    </mat-form-field>
     <button mat-raised-button color="primary" [disabled]="form.invalid"> Submit</button>
    </form>
</ng-template>

<ng-template #progress>
    <div class="full-width-center">
        <mat-spinner></mat-spinner>
</div>
</ng-template>