<div class="full-container">

    <div>
        <h2 class="text-center">Login</h2>
        <div>
            <form>
            <mat-form-field class="full-width">
                <mat-label>UserName</mat-label>
                <input type="text" matInput placeholder="userName">
                <mat-error>
                 
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>password</mat-label>
                <input type="password" matInput placeholder="password">
                <mat-error>
                 
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" class="full-width">Login</button>
            </form>
        </div>
    </div>
</div>
