<div *ngIf="this.data.MeasurementValue <0 then pleaseSelect else dialog " >

</div>

<ng-template #pleaseSelect>
<p> Please Select Product</p>
</ng-template>
<ng-template #dialog>
<mat-select [(ngModel)]="selectedvalue">
    <mat-option *ngFor="let item of this.mesurementList" [value]="item.id" >{{item.name}} </mat-option>
</mat-select>
 <mat-form-field >
   <input matInput type="number" [(ngModel)]="quntityText" placeholder="Quantity"  />
 </mat-form-field>
 <button (click)="CalcuateValue()">Ok</button>
</ng-template>
