

<ng-container *ngIf="supplier != null then data else loading">

</ng-container>

<ng-template #loading>
 <mat-spinner></mat-spinner>
</ng-template>

<ng-template #data>
    <mat-card style="height: 90vh;">
        <h2>{{'supplierDetails'|translate}}</h2>
        <h3 class="text-primary ml-2">{{supplier.supplierName}}</h3>
      <mat-card *ngIf="supplier.phone.length !=0">
          <h4 class="text-primary">{{'phones'|translate}}</h4>
          <ul class="list-group">
           <li class="list-group-item" *ngFor="let item of supplier.phone"> {{item.phone}}</li>
        </ul>
      </mat-card>
      <div *ngIf="supplier.phone.length == 0" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{'phones'|translate}}</strong> {{'thereIsNoPhones'|translate}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    
      <mat-card class="mt-5" *ngIf="supplier.address.length !=0">
          <h4 class="text-primary">{{'addresses'|translate}}</h4>
          <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of supplier.address"> {{item.address}} </li>
        </ul>
      </mat-card>

      <div *ngIf="supplier.address.length == 0" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{'addresses'|translate}}</strong> {{'thereIsNoAddress'|translate}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    </mat-card>
</ng-template>