<mat-card>
    <h4>{{'editProduct'|translate}}</h4>

<form [formGroup]="form" (submit)="onSubmitData()">
    <mat-form-field class="full-width">
      <mat-label>{{'productNumber'|translate}}</mat-label>
      <input #productNumber formControlName="productNumber" matInput placeholder="{{'productNumber'|translate}}"  readonly class="full-width">
      <mat-error></mat-error>
    </mat-form-field>



    <mat-form-field class="full-width">
        <mat-label>{{'productName'|translate}}</mat-label>
        <input matInput formControlName="productName" placeholder="{{'productName'|translate}}" class="full-width" required>
        <mat-error *ngIf="ProductName.invalid && ProductName.touched"> 
          <mat-error *ngIf="ProductName.errors.required"> {{'productNameRequired'|translate}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{'sellingPrice'|translate}}</mat-label>
        <input matInput formControlName="sellingPrice" placeholder="{{'sellingPrice'|translate}}" type="number" class="full-width" required>
        <mat-error *ngIf="SellingPrice.invalid && SellingPrice.touched ">
            <mat-error *ngIf="SellingPrice.errors.required">{{'sellingPriceRequired'|translate}}</mat-error>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>{{'purchasingPrice'|translate}}</mat-label>
        <input matInput formControlName="purchasingPrice" placeholder="{{'purchasingPrice'|translate}}" type="number" class="full-width" required>
        <mat-error *ngIf="purchasingPrice.invalid && purchasingPrice.touched ">
          <mat-error *ngIf="purchasingPrice.errors.required">{{'purchasingPriceRequired'|translate}}</mat-error>
      </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>{{'cateogry'|translate}}</mat-label>
        <mat-select formControlName="categoryID">
         <mat-option *ngFor="let item of categoryInfo" [value]="item.id"> {{item.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="categoryID.invalid && categoryID.touched ">
          <mat-error *ngIf="categoryID.errors.required">{{'TheCategoryNameIsRequired'|translate}}</mat-error>
      </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>{{'measurementType'|translate}}</mat-label>
        <mat-select formControlName="typeOfMeasurements">
         <mat-option [value]=0> {{'perUnit'|translate}} </mat-option>
         <mat-option [value]=1> {{'gram'|translate}} </mat-option>
        </mat-select>
        <mat-error *ngIf="TypeOfMeasurements.invalid && TypeOfMeasurements.touched ">
          <mat-error *ngIf="TypeOfMeasurements.errors.required">{{'measurementTypeRequired'|translate}}</mat-error>
      </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>{{'barCode'|translate}}</mat-label>
        <input matInput formControlName="barCode" placeholder="{{'barCode'|translate}}" #barcode class="full-width" required>
        <mat-error *ngIf="barCode.invalid && barCode.touched">
          <mat-error *ngIf="barCode.errors.required">{{'barCodeRequired'|translate}}</mat-error>
        </mat-error>
      </mat-form-field>
      <div>
        <ngx-barcode [bc-value]="barcode.value" [bc-display-value]="true"></ngx-barcode>

      </div>

      <div>
      <mat-checkbox formControlName="isValidInPointOfSales" class="example-margin" [color]="'primary'">
     {{"IsValidPointOfSales"|translate}}
</mat-checkbox>
 <br/>
<mat-checkbox formControlName="isValidInStorage" [color]="'primary'" class="example-margin">
  {{"IsValidStorage"|translate}}
</mat-checkbox>
<br/>
<mat-checkbox formControlName="isValidOnline" [color]="'primary'" class="example-margin">
  {{"IsValidOnline"|translate}}
</mat-checkbox>
</div>
<div>
  <input #input type="file" (change)="fileChangeEvent($event)" />
 <ng-container *ngIf="ProductImage != null">
  <br/>
  <br/>
    <img [src]="product.productImage" width="150" height="150" >
    <br/>
    <span>Old Picture</span>
    
 </ng-container>
  <ng-container *ngIf="imageBase64 != null">
    <br/>
    <br/>
    <img width="150" height="150" [src]="imageBase64"/>
  </ng-container>
</div>
<div class="mt-5 d-flex justify-content-end">
<button mat-raised-button color="primary"  type="submit" [disabled]="!form.valid">{{"submit"|translate}}</button>
</div>
</form>
</mat-card>


<div [ngStyle]="{'display': !IsCropperDivShown ? 'none':'block'}" class="client-container">
  <div class="flex-container">
    <button type="button" mat-flat-button color="warn" (click)="handleCancelButton(input)">Cancel</button>
    <button type="button" mat-flat-button color="primary" (click)="handelOkButton()">Ok</button>
</div>
<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
   [resizeToWidth]="500"
   [resizeToHeight]="500"
   [aspectRatio]="4/4"
  format="png"
  (imageCropped)="imageCropped($event)"
></image-cropper>
</div>