<ng-container *ngIf="this.Invoice == null then loading else data ">


</ng-container>

<ng-template #loading>

</ng-template>
<ng-template #data>
  <mat-card>
    <dl>
      <dt>Invoice Number</dt>
      <dd>{{this.Invoice.InvoiceNumber}}</dd>
      <dt>Employee Name</dt>
      <dd>{{this.Invoice.Employee.UserName}}</dd>
      <dt>Supplier Name</dt>
      <dd>{{this.Invoice.Supplier.Name}}</dd>
    </dl>

    <table class="table">
      <thead>
        <tr>
          <th>ProductName</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of this.Invoice.InvoiceDetails">
            <td>{{item.Product.ProductName}}</td>
            <td>{{item.Quantity}}</td>
            <td>{{item.UnitPrice}}</td>
            <td>{{item.Quantity*  item.UnitPrice}}</td>
          </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total Invoice</th>
          <th colspan="3" class="text-right">{{TotalInvoiceDetails()}} </th>

        </tr>
      </tfoot>
    </table>



  </mat-card>
</ng-template>
