.active{
    background-color: #bbb
}
.mat-list-base {
 padding-top: 0;
}
mat-icon{
    margin-right: 2px;
}
.nav-bar-color{
    color:#7b6f9c;
}
.mat-accordion a{
   color:#6c50b9;
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    width:100%;
}
.active-lang{
    color:#fff;
    background-color: #7b6f9c;
    
}