<ng-container *ngIf="this.InvoiceInfo != null   then data else loading">

</ng-container>
<ng-template #loading>
 loading ...
</ng-template>

<ng-template #data>
 <mat-card>
      <dl class="row">


        <dt class="col-md-3">InvoiceNumber</dt>
        <dd class="col-md-9"> {{InvoiceInfo.InvoiceNumber}} </dd>

        <dt class="col-md-3">Supplier</dt>
        <dd class="col-md-9"> {{InvoiceInfo.Supplier.Name}} </dd>

        <dt class="col-md-3">Employee</dt>
        <dd class="col-md-9"> {{InvoiceInfo.Employee.UserName}} </dd>

        <dt class="col-md-3">Store</dt>
        <dd class="col-md-9"> {{InvoiceInfo.Store.Name}} </dd>


      </dl>

      <table class="table">
        <thead>
            <tr>
              <th>ProductName</th>
              <th>UnitPrice</th>
              <th>Quantity</th>
              <th>OldPrice</th>
              <th>Returned Quantity</th>
              <th>NewPrice</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.InvoiceInfo.InvoiceDetails">
            <td>{{item.Product.ProductName}}</td>
            <td>{{item.UnitPrice}}</td>
            <td>{{item.Quantity}}</td>
            <td>{{(item.UnitPrice * item.Quantity)}}</td>
            <td>
              <mat-form-field>
                <label>Returned Quantity</label>
                <input type="number" matInput  />
                <mat-hint>{{item.Product.TypeOfMeasurement|measurementPipe|async}}</mat-hint>
              </mat-form-field>
            </td>

            <td></td>

          </tr>
        </tbody>
      </table>
 </mat-card>
</ng-template>
