<div class="container">
    <div class="row">
        <div class="col-md-4">
          <mat-card class="tree-container">
            <ng-container *ngIf="data != null then data else loading">

            </ng-container>
          </mat-card>
    </div>

    <div class="col-md-8">
    <app-create-category  (onDataAdded)="RefreshTree($event)" [CatrogyID]="SelectedCategoryID"></app-create-category>
    </div>
</div>
</div>

<ng-template #loading>
  <div class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
</ng-template>

<ng-template #data>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button (click)="SelectCategory(node)" mat-icon-button >{{node.name}} </button>
          
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
       
            </mat-icon>
          </button>
          <button mat-icon-button  (click)="SelectCategory(node)" >
          {{node.name}}
        </button>
        </mat-tree-node>
      </mat-tree>
   
</ng-template>