
@using Stimulsoft.Report.Mvc

<style>
    #NetCoreViewer{
        height:200% !important;
    }
</style>
@Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
             {
                 Actions =
                 {
                     GetReport = "GetReport",
                     ViewerEvent = "EventViewer"
                 }
             })

<div style="height:500px">

</div>